body {
  background-color: #d8d8d8;
  font-family: Helvetica;
}

div {
  border-radius: 5px;
  margin: 10px;
}
.menu {
  background-color: #0080FF;
  padding:10px;
  width: 100px;
  height: 400px;
  float: left;
}

.main {
  background-color:  #99CCFF;
 /* height: 400px;
/*  width:  1680px; */
  padding:10px;
  float: left;
}

.header {
  background-color:  #0080FF;
  padding: 10px
}
